---
interface Props {
	currentLang: string;
}
const { currentLang } = Astro.props;
---

<span class="language-switcher" style="position: relative">
	<md-icon-button class="lang-anchor" aria-label="Language">
		<md-icon>language</md-icon>
	</md-icon-button>
	<md-menu class="lang-menu" positioning="popover">
		<md-menu-item data-lang="en">
			<div slot="headline">English</div>
		</md-menu-item>
		<md-menu-item data-lang="zh">
			<div slot="headline">简体中文</div>
		</md-menu-item>
		<md-menu-item data-lang="zh-TW">
			<div slot="headline">繁體中文</div>
		</md-menu-item>
	</md-menu>
</span>

<script>
	import "../scripts/languageSwitcher.ts";
</script>

<style>
	.language-switcher {
		margin-left: 8px;
	}
</style>
